FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
GEMINI_API_KEY=
GOOGLE_APPS_SCRIPT_SECRET=
GOOGLE_APPS_SCRIPT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_FOLDER_NAME=
GOOGLE_PRIVATE_KEY=
GOOGLE_REFRESH_TOKEN=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SPREADSHEET_ID=
GOOGLE_SPREADSHEET_NAME=
SESSION_SECRET=